
@import "common.css";

:root {
  --font-family: 'Source Sans Pro';
  --main-bg-color: floralwhite;
  --transparent: rgba(0, 0, 0, 0);
  --relative-font-size: calc(1vmin);
  --letter-font-size: 20em;
  --letter-block-size: calc(var(--letter-font-size)/12);
  --letter-color: black;
  --letter-animation-duration: 0.25s;
  --animation-delay: 2s;
  --pencil-width: 5em;
  --pencil-animation-time: 2s;
  --border-radius-value: 0.5em;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family), sans-serif;
}

#root-main {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  position: relative;
  background-color: var(--main-bg-color);
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      rgba(0, 0, 0, 0) 1px
    ),
    linear-gradient(
      rgba(0, 0, 0, 0.1) 1px,
      rgba(0, 0, 0, 0) 1px
    );
  background-position: 1px;
  background-repeat: repeat;
  background-size: 2em 2em;
}

.position-container {
  transform: translate3d(25%, 25%, 0);
}

/* letters -> Hi .*/
.letters-container {
  position: absolute;
  -webkit-transform: translate3d(calc(var(--pencil-width)*0.4), calc(var(--pencil-width)*4), 0);
  -moz-transform: translate3d(calc(var(--pencil-width)*0.4), calc(var(--pencil-width)*4), 0);
  -ms-transform: translate3d(calc(var(--pencil-width)*0.4), calc(var(--pencil-width)*4), 0);
  -o-transform: translate3d(calc(var(--pencil-width)*0.4), calc(var(--pencil-width)*4), 0);
  transform: translate3d(calc(var(--pencil-width)*0.4), calc(var(--pencil-width)*4), 0);
}

#letters {
  position: relative;
}

.letter {
  position: absolute;
  background-color: var(--letter-color);

  -webkit-animation-duration: var(--letter-animation-duration);
  -moz-animation-duration: var(--letter-animation-duration);
  -o-animation-duration: var(--letter-animation-duration);
  animation-duration: var(--letter-animation-duration);

  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;

  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

#hOne {
  transform: translateX(0);
  height: 0;
  width: var(--letter-block-size);
  animation-delay: var(--animation-delay);
  animation-name: hOne;
}

@keyframes hOne {
  from {
    height: 0;
  }
  to {
    height: calc(var(--letter-block-size)*6);
  }
}

#hThree {
  transform: translateX(calc(var(--letter-block-size)*4));
  height: 0;
  width: var(--letter-block-size);

  animation-delay: calc(var(--animation-delay) + var(--letter-animation-duration));
  -webkit-animation-name: hOne;
  -moz-animation-name: hOne;
  -o-animation-name: hOne;
  animation-name: hOne;
}

#hTwo {
  transform: translateX(var(--letter-block-size)) translateY(calc(var(--letter-block-size)*2.5));
  height: var(--letter-block-size);
  width: 0;

  animation-delay: calc(var(--animation-delay) + var(--letter-animation-duration) * 2);
  -webkit-animation-name: hTwo;
  -moz-animation-name: hTwo;
  -o-animation-name: hTwo;
  animation-name: hTwo;
}

@keyframes hTwo {
  from {
    width: 0;
  }
  to {
    width: calc(var(--letter-block-size)*3);
  }
}

#iOne {
  transform: translateX(calc(var(--letter-block-size)*6));
  height: 0;
  width: var(--letter-block-size);
  -webkit-animation-name: hOne;
  -moz-animation-name: hOne;
  -o-animation-name: hOne;
  animation-name: hOne;
  animation-delay: calc(var(--animation-delay) + var(--letter-animation-duration) * 3);
}

#dot {
  transform: translateX(calc(var(--letter-block-size)*9)) translateY(calc(var(--letter-block-size)*5));
  border-radius: 50%;
  -webkit-animation-name: dot;
  -moz-animation-name: dot;
  -o-animation-name: dot;
  animation-name: dot;
  animation-delay: calc(var(--animation-delay) + var(--letter-animation-duration) * 5);
}

@keyframes dot {
  from {
    width: 0;
    height: 0;
  }
  to {
    height: var(--letter-block-size);
    width: var(--letter-block-size);
  }
}


/* Pencil */
#pencil-container {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  animation: pencilContainerXAxis var(--pencil-animation-time) linear forwards;
  animation-delay: var(--animation-delay);
}

.pencil-x-container {
  position: relative;
  animation: pencilYAxis var(--pencil-animation-time) linear forwards;
  animation-delay: var(--animation-delay);
}

#pencil {
  position: absolute;
  font-size: var(--relative-font-size);
  transform: rotate(25deg);
  transform-origin: bottom right;
  animation: pencilRotate var(--pencil-animation-time) linear forwards;
  animation-delay: var(--animation-delay);
}

.pencil-section {
  width: var(--pencil-width);
}

.pencil-section-column {
  width: calc(var(--pencil-width)*0.25);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pencil-section-column:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.pencil-section-column.left:after {
  background-color: rgba(255,255,255,0.2);
}

.pencil-section-column.middle {
  width: calc(var(--pencil-width)*0.5);
}

.pencil-section-column.middle:after {
  background-color: rgba(0,0,0,0.2);
}

.pencil-section-column.right:after {
  background-color: rgba(0,0,0,0.4);
}

/* Pencil Top section */
.pencil-section.top .pencil-section-column {
  height: calc(var(--pencil-width)*0.4);
  background: saddlebrown;
}

.pencil-section.top .pencil-section-column.left {
  border-top-left-radius: var(--border-radius-value);
}

.pencil-section.top .pencil-section-column.right {
  border-top-right-radius: var(--border-radius-value);
}

/* Pencil Top section lining  */
.pencil-section.top-lining .pencil-section-column {
  height: calc(var(--pencil-width)*0.1);
  background: snow;
}

/* Pencil middle section  */
.pencil-section.middle {
  height: calc(var(--pencil-width)*4);
}

.pencil-section.middle .pencil-section-column {
  background-color: darkgoldenrod;
  border-radius: 0 0 var(--border-radius-value) var(--border-radius-value);
}

/* Pencil bottom section  */
.pencil-section.bottom {
  margin-top: calc(var(--pencil-width)*-0.1);
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: burlywood;
  height: var(--pencil-width);
  position: relative;
}

.pencil-section.graphite {
  height: calc(var(--pencil-width)*0.25);
  width: calc(var(--pencil-width)*0.3);
  position: absolute;
  background: black;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  border-radius: 50% 50% 0 0;
  bottom: 0;
  left: calc(var(--pencil-width) / 2 - (var(--pencil-width)*0.15));
}

@keyframes pencilContainerXAxis {
  0% {
    transform: translateX(calc(var(--letter-block-size)*0.5));
  }
  12.5% {
    transform: translateX(calc(var(--letter-block-size)*0.5)); /* \ */
  }
  14% {
    transform: translateX(calc(var(--letter-block-size)*4.5)); /* \ */
  }
  25% {
    transform: translateX(calc(var(--letter-block-size)*4.5)); /* \ \ */
  }
  26.5% {
    transform: translateX(calc(var(--letter-block-size)*0.5)); /* \ \ */
  }
  37.5% {
    transform: translateX(calc(var(--letter-block-size)*4));  /* \-\ */
  }
  39% {
    transform: translateX(calc(var(--letter-block-size)*6.5)); /* \-\ */
  }
  50% {
    transform: translateX(calc(var(--letter-block-size)*6.5)); /* \-\ \ */
  }
  55% {
    transform: translateX(calc(var(--letter-block-size)*9.5)); /* \-\ \ */
  }
  70% {
    transform: translateX(calc(var(--letter-block-size)*9.5));  /* \-\ \ . */
  }
  80% {
    transform: translateX(calc(var(--letter-block-size)*12));
  }
  100% {
    transform: translateX(calc(var(--letter-block-size)*12));
  }
}

@keyframes pencilYAxis {
  0% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(calc(var(--letter-block-size)*6)); /* \ */
  }
  13% {
    transform: translateY(0); /* \ */
  }
  25% {
    transform: translateY(calc(var(--letter-block-size)*6)); /* \ \ */
  }
  25.5% {
    transform: translateY(calc(var(--letter-block-size)*2.5)); /* \ \ */
  }
  37.5% {
    transform: translateY(calc(var(--letter-block-size)*2.5)); /* \-\ */
  }
  40% {
    transform: translateY(0); /* \-\ */
  }
  55% {
    transform: translateY(calc(var(--letter-block-size)*6)); /* \-\ \ */
  }
  60% {
    transform: translateY(calc(var(--letter-block-size)*3)); /* \-\ \ */
  }
  65% {
    transform: translateY(calc(var(--letter-block-size)*5)); /* \-\ \ */
  }
  70% {
    transform: translateY(calc(var(--letter-block-size)*6));  /* \-\ \ . */
  }
  80% {
    transform: translateY(calc(var(--letter-block-size)*6));
  }
  100% {
    transform: translateY(calc(var(--letter-block-size)*6));
  }
}

@keyframes pencilRotate {
  0% {
    transform: rotate(25deg);
  }
  12.5% {
    transform: rotate(15deg); /* \ */
  }
  13% {
    transform: rotate(25deg); /* \ */
  }
  25% {
    transform: rotate(15deg); /* \ \ */
  }
  25.5% {
    transform: rotate(35deg); /* \ \ */
  }
  37.5% {
    transform: rotate(25deg); /* \-\ */
  }
  40% {
    transform: rotate(15deg); /* \-\ */
  }
  55% {
    transform: rotate(15deg); /* \-\ \ */
  }
  70% {
    transform: rotate(15deg); /* \-\ \ .*/
  }
  80% {
    transform: rotate(25deg);
  }
  85% {
    transform: rotate(45deg);
  }
  90% {
    transform: rotate(65deg);
  }
  95% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
